@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Metete en el <p/> 
    @Html.ActionLink("enlace","Saludo",new {nombre = "Paco"}, null)
</div>
