@{
    ViewData["Title"] = "Home Page";
}

<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Hora Actual</title>
    </head>
    <body>
        @{
            var fechaActual = DateTime.Now;
        }
        <h1 id="greeting">Hola, son las @($"{fechaActual.Hour}:{fechaActual.Minute}")</h1>
        <p id="timeInfo">
            @if (fechaActual.Hour >= 12)
            {
                <text>Ya hemos pasado de las 12 del mediodía.</text>
            }
            else
            {
                <text>Aún no hemos pasado de las 12 del mediodía.</text>
            }
        </p>
    </body>
</html>
