@{
    ViewData["Title"] = "Lista";
}
<div class="">
    <h1>Listado de Productos</h1>

    <ul>
        <li>Producto 1: Smartphone</li>
        <li>Producto 2: Laptop</li>
        <li>Producto 3: Tablet</li>
        <li>Producto 4: Smartwatch</li>
        <li>Producto 5: Audífonos Bluetooth</li>
    </ul>
</div>

